html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}

.logo {
  min-width: 200px;
}

.btn {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  text-transform: uppercase;
  border: 1px solid black;
}

.tituloHr {
  font-size: 3em;
  font-weight: 700;
  color: #363756;
}

.linha {
  max-width: 1220px;
  margin: 50px auto;
  width: 50%;
  height: 1px;
  background-color: rgba(131, 131, 131, 0.593);
}

.header {
  top: 0;
  z-index: 9999;
  position: absolute;
  width: 100%;
}
.header__container {
  background-color: #363756;
  max-width: 1980px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px 60px;
  justify-content: space-between;
  align-items: center;
}
.header__container-home {
  background-color: transparent;
}
.header .logo {
  height: 100px;
  width: 100px;
  display: flex;
}
.header .logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__mobile {
  display: none;
}
.header__label {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  display: none;
}
.header .menu {
  list-style: none;
}
.header .menu li {
  background-color: #fff;
  position: relative;
  float: left;
}
.header .menu li:hover > ul {
  display: initial;
}
.header .menu li:last-child {
  background-color: #BE1016;
}
.header .menu li:last-child a {
  color: #fff;
}
.header .menu li ul {
  list-style: none;
  position: absolute;
  right: 0;
  width: 200px;
  background-color: #fff;
  display: none;
}
.header .menu li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header .menu li ul li:last-child {
  background-color: #fff;
}
.header .menu li ul li:last-child a {
  color: #4E4E4E;
}
.header .menu li ul li:last-child a:hover {
  background-color: #333;
  color: #fff;
}
.header .menu li ul li ul {
  right: 200px;
  top: 0;
}
.header .menu li a {
  font-size: 1em;
  padding: 20px 30px;
  color: #4E4E4E;
  display: block;
  text-decoration: none;
}
.header .menu li a:hover {
  background-color: #333;
  color: #fff;
}

.destaque {
  width: 100%;
  position: relative;
}
.destaque__container {
  max-width: 1980px;
  margin: 0 auto;
}
.destaque__slide {
  display: grid;
  grid-template-rows: 600px;
  position: relative;
}
.destaque__slide::before {
  content: "";
  position: absolute;
  opacity: 90%;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: #252646;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  z-index: 1;
}
.destaque__slide-img {
  grid-column: 1;
  grid-row: 1;
}
.destaque__slide-textos {
  grid-column: 1;
  grid-row: 1;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  margin: 0 0 60px 60px;
}
.destaque__slide-titulo {
  font-size: 3em;
  color: #fff;
  font-weight: 100;
}
.destaque__slide-subtitulo {
  font-size: 6em;
  max-width: 600px;
  color: #fff;
}
.destaque__slide-btn {
  color: #fff;
  border: 1px solid #fff;
}
.destaque .busca {
  position: absolute;
  width: 300px;
  background-color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}
.destaque .busca__ico {
  color: #4E4E4E;
}
.destaque .busca__input {
  border: none;
  outline: none;
  font-size: 1.2em;
  color: #4E4E4E;
}

.noticias {
  width: 100%;
  margin-top: 100px;
}
.noticias__container {
  max-width: 1000px;
}
.noticias__slide {
  display: grid;
  grid-template-areas: "item1 item1 item2" "item1 item1 item3" "item6 item5 item4";
  gap: 15px;
}
.noticias__item {
  display: grid;
  grid-template-rows: 100px;
  gap: 5px;
}
.noticias__item-link {
  text-decoration: none;
  color: #4E4E4E;
  transition: all 0.3s ease-in;
}
.noticias__item-link:hover {
  color: #BE1016;
}
.noticias__item-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.noticias__item-tag {
  font-size: 1em;
  color: #4E4E4E;
  margin-bottom: 5px;
}
.noticias__item-titulo {
  font-size: 1.3em;
}
.noticias__item:nth-child(1) {
  grid-area: item1;
  grid-template-rows: 300px;
}
.noticias__item:nth-child(1) .noticias__item-titulo {
  font-size: 2em;
}
.noticias__item:nth-child(2) {
  grid-area: item2;
}
.noticias__item:nth-child(3) {
  grid-area: item3;
}
.noticias__item:nth-child(4) {
  grid-area: item4;
}
.noticias__item:nth-child(5) {
  grid-area: item5;
}
.noticias__item:nth-child(6) {
  grid-area: item6;
}
.noticias__footer {
  margin-top: 40px;
  text-align: right;
}
.noticias__footer-link {
  text-decoration: none;
  color: #BE1016;
  transition: all 0.3s easi-in;
  font-size: 1.3em;
}
.noticias__footer-link:hover {
  font-weight: bold;
}

.estatisticas {
  width: 100%;
  background-color: #363756;
  margin-top: 100px;
}
.estatisticas__container {
  padding: 50px 20px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.estatisticas p:nth-child(1) {
  font-size: 3em;
}
.estatisticas p:nth-child(2) {
  font-size: 1.2em;
}

.chamada {
  width: 100%;
}
.chamada__desconto {
  margin-top: 150px;
  margin-bottom: 100px;
}
.chamada__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: none;
}
.chamada__container--inverso {
  direction: rtl;
}
.chamada__col {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.chamada__imagens {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
.chamada__img:nth-child(1) {
  grid-column: 2/6;
  grid-row: 2/6;
}
.chamada__img:nth-child(2) {
  grid-column: 2/6;
  grid-row: 2/6;
  background-color: #252646;
  opacity: 90%;
}
.chamada__img:nth-child(3) {
  grid-column: 3/7;
  grid-row: 3/7;
  z-index: 99999;
}
.chamada__texto {
  font-size: 1.8em;
  line-height: 1.3em;
  color: #4E4E4E;
}
.chamada .tituloHr {
  width: 100%;
}
.chamada__btn {
  color: #4E4E4E;
  border-color: #4E4E4E;
}
.chamada__btn:hover {
  color: #BE1016;
  border-color: #BE1016;
}

.atividades {
  margin-top: 100px;
  max-width: 1220px;
  margin: 50px auto;
  padding: 10px;
  position: relative;
  margin-bottom: 100px;
}
.atividades__tituloHr {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.atividades .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.atividades .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.atividades__btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #4E4E4E;
  border-color: #4E4E4E;
}
.atividades__btn:hover {
  color: #BE1016;
  border-color: #BE1016;
}

.locais {
  margin-top: 200px;
  position: relative;
}
.locais__banner {
  display: grid;
  grid-auto-rows: 350px;
  margin-bottom: -100px;
}
.locais__banner div:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
  display: flex;
}
.locais__banner div:nth-child(2) {
  grid-row: 1;
  grid-column: 1;
  background-color: #252646;
  opacity: 90%;
}
.locais__banner h2 {
  grid-row: 1;
  grid-column: 1;
  z-index: 9999;
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
  color: #fff;
}
.locais__container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  gap: 100px 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  position: relative;
}
.locais__item {
  display: grid;
  grid-template-rows: 300px;
  gap: 15px;
  z-index: 9999;
}
.locais__item p {
  font-size: 2em;
  text-align: center;
  color: #4E4E4E;
  max-width: 200px;
  margin: 0 auto;
}
.locais__btn {
  max-width: 150px;
  margin: 20px auto;
  color: #4E4E4E;
  border-color: #4E4E4E;
}
.locais__btn:hover {
  color: #BE1016;
  border-color: #BE1016;
}

.associar {
  width: 100%;
  text-align: center;
}
.associar__container {
  display: block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.associar__btn {
  background-color: #BE1016;
  color: #fff;
  border: none;
  padding: min(8%, 15px) min(16%, 50px);
}

.rodape {
  width: 100%;
  background-color: tomato;
  background-color: #363756;
  margin-top: 100px;
}
.rodape__row:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 10px;
  max-width: 900px;
  margin: 0 auto;
}
.rodape__item {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
.rodape__titulo {
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
}
.rodape__texto {
  font-size: 0.9em;
}
.rodape__texto a {
  text-decoration: none;
  color: #fff;
}
.rodape__row:nth-child(2) {
  background-color: #252646;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: #fff;
}
.rodape__social {
  font-size: 1.2em;
  display: flex;
  gap: 10px;
}
.rodape__social img {
  width: 80px;
}
.rodape__social a {
  color: #fff;
  text-decoration: none;
}
.rodape__copyright {
  font-size: 0.9em;
}
.rodape__destaque {
  color: #EBFF00;
  font-weight: 700;
}

.pgNoticias {
  margin-top: 150px;
}
.pgNoticias__header {
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
}
.pgNoticias__thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pgNoticias__article {
  max-width: 800px;
  margin: 0 auto;
}
.pgNoticias__tituloHr {
  text-align: center;
  margin: 50px 0;
}
.pgNoticias__content p {
  font-size: 1.3em;
  line-height: 1.2;
  color: #4E4E4E;
  margin-bottom: 20px;
}
.pgNoticias__content img {
  max-height: 500px;
  max-width: 500px;
  margin: 10px auto;
  object-fit: contain;
}
.pgNoticias__content strong {
  font-weight: bold;
}
.pgNoticias__content em {
  font-style: italic;
}
.pgNoticias__content a {
  text-decoration: none;
  color: #BE1016;
}
.pgNoticias__content a:hover {
  font-weight: bold;
}

.pgHistoria {
  width: 100%;
  margin-top: 150px;
}
.pgHistoria__tituloHr {
  text-align: center;
}
.pgHistoria__header {
  margin-bottom: 100px;
  font-size: 1.6em;
  color: #4E4E4E;
  text-align: center;
  padding: 20px;
}
.pgHistoria__header p {
  margin: 20px;
}
.pgHistoria__item {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.pgHistoria__item:nth-child(even) > div:nth-child(1) {
  order: 2;
}
.pgHistoria__item:nth-child(even) > div:nth-child(1) > div:nth-child(1) {
  order: 2;
  text-align: left;
}
.pgHistoria__item-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  align-items: center;
  text-align: right;
  gap: 20px;
}
.pgHistoria__item-titulo {
  font-size: 1.3em;
  color: #BE1016;
  font-weight: 600;
}
.pgHistoria__item-texto {
  font-size: 1.3em;
  color: #4E4E4E;
}
.pgHistoria__item-img {
  height: 300px;
  width: 100%;
  display: block;
  object-fit: cover;
  box-shadow: 10px 10px 13px -9px #363756;
}

.pgExecutiva {
  width: 100%;
  margin-top: 150px;
}
.pgExecutiva__tituloHr {
  text-align: center;
  margin: 50px 0;
}
.pgExecutiva__presidente {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px auto;
  align-items: center;
  gap: 40px;
}
.pgExecutiva__presidente-avatar {
  box-shadow: 10px 10px 13px -9px #363756;
  width: 300px;
  height: 300px;
}
.pgExecutiva__presidente-avatar img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
.pgExecutiva__presidente-depoimento {
  font-size: 1.2em;
  color: #4E4E4E;
  line-height: 1.3;
}
.pgExecutiva__presidente-depoimento p:nth-child(1) {
  margin-bottom: 20px;
}
.pgExecutiva__presidente-depoimento p:not(:first-child) {
  font-weight: 800;
}
.pgExecutiva__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}
.pgExecutiva__content-header {
  border-bottom: 1px solid #4E4E4E;
  margin-bottom: 20px;
}
.pgExecutiva__content-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pgExecutiva__subtitulo {
  font-size: 3em;
  font-weight: 600;
  color: #4E4E4E;
  margin: 100px 0 10px 0;
}
.pgExecutiva__avatar {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 150px;
  gap: 10px;
  flex-wrap: wrap;
}
.pgExecutiva__avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pgExecutiva__avatar-texto {
  font-size: 1.2em;
  color: #4E4E4E;
}
.pgExecutiva__avatar-texto p:nth-child(1) {
  font-size: 1.2em;
}
.pgExecutiva__avatar-texto p:nth-child(2) {
  font-size: 0.8em;
}

.pgFiscal {
  width: 100%;
  margin-top: 150px;
}
.pgFiscal__tituloHr {
  text-align: center;
  margin: 50px 0;
}
.pgFiscal__presidente {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px auto;
  align-items: center;
  gap: 40px;
}
.pgFiscal__presidente-avatar {
  box-shadow: 10px 10px 13px -9px #363756;
  width: 300px;
  height: 300px;
}
.pgFiscal__presidente-avatar img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
.pgFiscal__presidente-depoimento {
  font-size: 1.2em;
  color: #4E4E4E;
  line-height: 1.3;
}
.pgFiscal__presidente-depoimento p:nth-child(1) {
  margin-bottom: 20px;
}
.pgFiscal__presidente-depoimento p:not(:first-child) {
  font-weight: 800;
}
.pgFiscal__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}
.pgFiscal__content-header {
  border-bottom: 1px solid #4E4E4E;
  margin-bottom: 20px;
}
.pgFiscal__content-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pgFiscal__subtitulo {
  font-size: 3em;
  font-weight: 600;
  color: #4E4E4E;
  margin: 100px 0 10px 0;
}
.pgFiscal__avatar {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 150px;
  gap: 10px;
  flex-wrap: wrap;
}
.pgFiscal__avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pgFiscal__avatar-texto {
  font-size: 1.2em;
  color: #4E4E4E;
}
.pgFiscal__avatar-texto p:nth-child(1) {
  font-size: 1.2em;
}
.pgFiscal__avatar-texto p:nth-child(2) {
  font-size: 0.8em;
}

.pgblog {
  width: 100%;
  margin-top: 200px;
}
.pgblog__tituloHr {
  padding: 0 20px;
}
.pgblog__content {
  background-color: #efefef;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.085);
  padding: 20px;
  margin-top: 40px;
}
.pgblog__materia-link {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 200px;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #4E4E4E;
  transition: all 0.3s;
}
.pgblog__materia-link:hover {
  color: #252646;
}
.pgblog__materia-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.pgblog__materia-titulo {
  font-size: 2em;
}
.pgblog__materia-footer {
  background-color: #bebebe;
  height: 1px;
  margin: 35px 0;
}

.pg404 {
  margin-top: 80px;
}
.pg404__article {
  max-width: 800px;
  margin: 0 auto;
}
.pg404__tituloHr {
  text-align: center;
  margin: 50px 0;
}
.pg404__img {
  max-height: 300px;
  max-width: 300px;
  margin: 10px auto;
  object-fit: contain;
}

.pgPousada {
  width: 100%;
  margin-top: 150px;
}
.pgPousada__tituloHr {
  text-align: center;
  margin-bottom: 50px;
}
.pgPousada .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pgPousada .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.pgPousada__mySwiper2 .swiper-slide {
  height: 450px;
}
.pgPousada__mySwiper {
  box-sizing: border-box;
  padding: 10px 0;
}
.pgPousada__mySwiper .swiper-slide {
  width: 25%;
  height: 100px;
  opacity: 0.4;
}
.pgPousada__mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pgPousada__mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.pgPousada__descricao {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.pgPousada__descricao-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pgPousada__descricao-texto {
  font-size: 1.3em;
  color: #4E4E4E;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pgPousada__servicos {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}
.pgPousada__servicos-item {
  margin-bottom: 30px;
}
.pgPousada__servicos-titulo {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #252646;
}
.pgPousada__servicos-lista li {
  margin-bottom: 5px;
}
.pgPousada__servicos-lista i {
  color: #2b7e28;
}
.pgPousada__servicos-lista span {
  color: #4E4E4E;
}
.pgPousada__servicos-lista a {
  text-decoration: none;
  font-weight: bold;
  color: #BE1016;
}
.pgPousada__servicos-lista strong {
  font-weight: 800;
}

.pgClube {
  width: 100%;
  margin-top: 150px;
}
.pgClube__tituloHr {
  text-align: center;
  margin-bottom: 50px;
}
.pgClube .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pgClube .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.pgClube__mySwiper2 .swiper-slide {
  height: 450px;
}
.pgClube__mySwiper {
  box-sizing: border-box;
  padding: 10px 0;
}
.pgClube__mySwiper .swiper-slide {
  width: 25%;
  height: 100px;
  opacity: 0.4;
}
.pgClube__mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pgClube__mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.pgClube__descricao {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.pgClube__descricao-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pgClube__descricao-texto {
  font-size: 1.3em;
  color: #4E4E4E;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pgClube__servicos {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}
.pgClube__servicos-item {
  margin-bottom: 30px;
}
.pgClube__servicos-titulo {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #252646;
}
.pgClube__servicos-lista li {
  margin-bottom: 5px;
}
.pgClube__servicos-lista i {
  color: #2b7e28;
}
.pgClube__servicos-lista span {
  color: #4E4E4E;
}
.pgClube__servicos-lista a {
  text-decoration: none;
  font-weight: bold;
  color: #BE1016;
}
.pgClube__servicos-lista strong {
  font-weight: 800;
}

.pgContato {
  width: 100%;
  margin-top: 150px;
}
.pgContato__tituloHr {
  text-align: center;
  margin-bottom: 50px;
}
.pgContato__item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 250px;
  border: 1px solid rgba(78, 78, 78, 0.298);
  margin-bottom: 100px;
}
.pgContato__mapa iframe {
  width: 100%;
  height: 100%;
}
.pgContato__local {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4E4E4E;
  gap: 20px;
  padding: 20px;
}
.pgContato__local-title {
  font-size: 3em;
}
.pgContato__local-item {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.pgContato__local-ico {
  font-size: 1.3em;
}
.pgContato__local-endereco {
  font-size: 1.1em;
  line-height: 1.2;
}
.pgContato__local-tel {
  font-size: 1.1em;
}

.pgConvenios {
  width: 100%;
  max-width: 1990px;
  margin: 120px auto;
}
.pgConvenios__banner {
  height: 550px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 150px;
}
.pgConvenios__banner-titulo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #4E4E4E;
  font-size: clamp(3em, 6vw, 6em);
  font-weight: 800;
  padding-left: 20px;
}
.pgConvenios__banner-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pgConvenios .sobre {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px 30px;
}
.pgConvenios .sobre__col {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  justify-content: center;
  text-align: right;
}
.pgConvenios .sobre__subtitulo {
  font-size: clamp(40px, 4vw, 60px);
  font-weight: 800;
  text-transform: uppercase;
  color: #4E4E4E;
}
.pgConvenios .sobre p {
  font-size: 1.5em;
  color: #4E4E4E;
  line-height: 1.3;
}
.pgConvenios .sobre__img {
  object-fit: cover;
  max-height: 300px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.pgConvenios .sobre__col:nth-child(1) {
  text-align: left;
}
.pgConvenios .sobre__col:nth-child(2) {
  order: -1;
}
.pgConvenios .operadoras {
  width: 100%;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  padding: 30px 10px;
  gap: 30px;
}
.pgConvenios .operadoras__subtitulo {
  font-size: clamp(40px, 4vw, 60px);
  font-weight: 800;
  text-transform: uppercase;
  color: #4E4E4E;
  text-align: center;
}
.pgConvenios .operadoras__imgs {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 100px;
}
.pgConvenios .operadoras__imgs-item {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.pgConvenios .operadoras__imgs-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.pgConvenios .operadoras__btn {
  background-color: #BE1016;
  border: none;
  color: #fff;
}
.pgConvenios .portabilidade {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px 30px;
}
.pgConvenios .portabilidade__col {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  justify-content: center;
  text-align: right;
}
.pgConvenios .portabilidade__subtitulo {
  font-size: clamp(40px, 4vw, 60px);
  font-weight: 800;
  text-transform: uppercase;
  color: #4E4E4E;
}
.pgConvenios .portabilidade p {
  font-size: 1.5em;
  color: #4E4E4E;
  line-height: 1.3;
}
.pgConvenios .portabilidade__img {
  object-fit: cover;
  max-height: 300px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.pgConvenios .carencia {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px 30px;
}
.pgConvenios .carencia__col {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  justify-content: center;
  text-align: right;
}
.pgConvenios .carencia__subtitulo {
  font-size: clamp(40px, 4vw, 60px);
  font-weight: 800;
  text-transform: uppercase;
  color: #4E4E4E;
}
.pgConvenios .carencia p {
  font-size: 1.5em;
  color: #4E4E4E;
  line-height: 1.3;
}
.pgConvenios .carencia__img {
  object-fit: cover;
  max-height: 300px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.pgConvenios .carencia__col:nth-child(1) {
  text-align: left;
}
.pgConvenios .carencia__col:nth-child(2) {
  order: -1;
}
.pgConvenios .documentos {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}
.pgConvenios .documentos__subtitulo {
  font-size: clamp(40px, 4vw, 60px);
  font-weight: 800;
  text-transform: uppercase;
  color: #4E4E4E;
}
.pgConvenios .documentos__resumo {
  font-size: 1.5em;
  color: #4E4E4E;
  line-height: 1.3;
  margin-bottom: 20px;
}
.pgConvenios .documentos__lista {
  font-size: 1.5em;
  color: #4E4E4E;
  line-height: 1.3;
}
.pgConvenios .documentos__lista li {
  margin-bottom: 1em;
}
.pgConvenios .documentos__lista i {
  color: #2b7e28;
}

.pgAtividades {
  width: 100%;
  margin-top: 120px;
}
.pgAtividades__subtitulo {
  font-size: 3em;
  margin-bottom: 10px;
  font-weight: 800;
  text-transform: uppercase;
  color: #4E4E4E;
}
.pgAtividades__banner {
  max-width: 1990px;
  height: 550px;
  margin: 0 auto;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}
.pgAtividades__banner-titulo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 4em;
  font-weight: 800;
  padding-left: 20px;
}
.pgAtividades__banner-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pgAtividades__descricao {
  padding: 10px;
  margin: 200px auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1220px;
  color: #4E4E4E;
}
.pgAtividades__descricao-col:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: center;
  gap: 10px;
}
.pgAtividades__descricao-col:nth-child(1) div:nth-child(2) {
  margin-top: 50px;
}
.pgAtividades__descricao-col:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.pgAtividades__descricao-img {
  display: block;
  max-width: 100%;
  height: 500px;
  object-fit: cover;
}
.pgAtividades__descricao-texto {
  font-size: 1.5em;
}
.pgAtividades__descricao-btn {
  color: #4E4E4E;
  border-color: #4E4E4E;
}
.pgAtividades__descricao-btn:hover {
  color: #BE1016;
  border-color: #BE1016;
}
.pgAtividades__fotos {
  width: 100%;
}
.pgAtividades__fotos h2 {
  text-align: center;
  margin-bottom: 50px;
}
.pgAtividades__fotos-container {
  max-width: 1990px;
  margin: 0 auto;
  padding: 10px;
  gap: 10px;
  display: grid;
  grid-template-areas: "item1 item1 item2 item3" "item1 item1 item6 item3" "item4 item5 item6 item3" "item4 item5 item7 item7";
  grid-auto-rows: 150px;
  margin-bottom: 200px;
}
.pgAtividades__fotos-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cove;
}
.pgAtividades__fotos-item:nth-child(1) {
  grid-area: item1;
}
.pgAtividades__fotos-item:nth-child(2) {
  grid-area: item2;
}
.pgAtividades__fotos-item:nth-child(3) {
  grid-area: item3;
}
.pgAtividades__fotos-item:nth-child(4) {
  grid-area: item4;
}
.pgAtividades__fotos-item:nth-child(5) {
  grid-area: item5;
}
.pgAtividades__fotos-item:nth-child(6) {
  grid-area: item6;
}
.pgAtividades__fotos-item:nth-child(7) {
  grid-area: item7;
}
.pgAtividades__professores h2 {
  text-align: center;
  margin-bottom: 50px;
}
.pgAtividades__professores-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
.pgAtividades__professores-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1280px) {
  .header__container {
    padding: 20px 10px;
  }
  .header .logo {
    height: 30px;
    width: 30px;
  }

  .destaque__slide-textos {
    margin: 0 0 60px 10px;
  }

  .pgAtividades {
    margin-top: 90px;
  }

  .pgConvenios {
    margin: 90px auto;
  }
  .pgConvenios__banner {
    height: 350px;
  }
}
@media (max-width: 768px) {
  .header__container {
    background-color: #363756;
  }
  .header__label {
    display: initial;
    font-size: 1.8em;
  }
  .header .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    display: none;
  }
  .header .nav .menu li {
    width: 100%;
  }
  .header .nav .menu li ul {
    position: relative;
    width: 100%;
  }
  .header .nav .menu li ul li {
    background-color: #eee;
  }
  .header .nav .menu li ul li ul {
    width: 100%;
    left: 0;
  }
  .header__mobile:checked ~ .nav {
    display: initial;
  }

  .destaque__slide {
    grid-template-rows: 550px;
  }
  .destaque__slide-textos {
    margin: 0;
    padding: 0;
    gap: 15px;
  }
  .destaque__slide-subtitulo {
    font-size: 4em;
  }
  .destaque__slide::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    background: rgba(0, 0, 0, 0.62);
  }
  .destaque__slide-textos {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .noticias__slide {
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
    gap: 40px;
  }
  .noticias__item:not(:first-child) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 220px;
  }

  .pgHistoria__header {
    margin-bottom: 50px;
    font-size: 1.3em;
  }
  .pgHistoria__item {
    grid-template-columns: 1fr;
    margin-bottom: 100px;
  }
  .pgHistoria__item:nth-child(even) > div:nth-child(1) > div:nth-child(1) {
    order: -1;
  }
  .pgHistoria__item-col {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .pgExecutiva {
    margin-top: 100px;
  }
  .pgExecutiva__presidente {
    text-align: center;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .pgblog {
    margin-top: 100px;
  }

  .estatisticas {
    margin-top: 50px;
  }

  .chamada {
    margin-top: 50px;
  }
  .chamada__texto {
    font-size: 1.2em;
  }

  .associar {
    margin-top: 50px;
  }

  .pgAtividades {
    margin-top: 70px;
  }
  .pgAtividades__banner {
    height: 300px;
  }
  .pgAtividades__banner-titulo {
    font-size: 2em;
  }
  .pgAtividades__descricao {
    margin: 150px auto;
  }
  .pgAtividades__descricao-col:nth-child(1) {
    grid-template-columns: repeat(2, 150px);
  }
  .pgAtividades__descricao-img {
    height: 300px;
  }

  .pgConvenios {
    margin: 70px auto;
  }
  .pgConvenios .sobre__col:nth-child(1) {
    text-align: center;
  }
  .pgConvenios .portabilidade__col:nth-child(1) {
    text-align: center;
  }
  .pgConvenios .portabilidade__col:nth-child(2) {
    order: -1;
  }
  .pgConvenios .carencia__col:nth-child(1) {
    text-align: center;
  }
}
@media (max-width: 540px) {
  .linha {
    display: none;
  }

  .chamada__col {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .atividades {
    margin-top: 100px;
  }

  .rodape__row:nth-child(1) {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .pgblog__materia-link {
    grid-template-columns: 1fr;
  }

  .pgPousada__descricao-texto {
    font-size: 1.1em;
    text-align: center;
    line-height: 1.2;
  }
}

/*# sourceMappingURL=style2.css.map */
