html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  position: relative;
  display: grid;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  max-width: 200px;
}

.btn {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  text-transform: uppercase;
}

.header {
  width: 100%;
  position: absolute;
  padding-top: 20px;
  z-index: 9999;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  background-color: #fff;
  gap: 10px;
  align-items: center;
}
.menu__link {
  text-decoration: none;
  padding: 20px 35px;
  color: #4E4E4E;
  display: block;
  font-size: 1.5em;
}
.menu__item:last-child .menu__link {
  background-color: #BE1016;
  color: #fff;
  padding: 20px 60px;
}

.destaque {
  width: 100%;
  background-image: url("assets/img/pousada.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.destaque__container {
  height: 600px;
  display: flex;
  align-items: end;
}
.destaque__col {
  z-index: 9999;
  color: #fff;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-bottom: 70px;
}
.destaque__titulo {
  font-size: 3em;
  font-weight: 100;
}
.destaque__subtitulo {
  font-size: 4em;
  font-weight: 500;
}
.destaque_btn {
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.4em;
}
.destaque__paralelogramo {
  position: absolute;
  top: 0;
  left: 0px;
  width: 50%;
  height: 100%;
  background: #252646;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  filter: opacity(90%);
}

.busca {
  background-color: white;
  margin: -20px auto;
  margin-top: -10px;
  z-index: 9998;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px 1px black;
}
.busca__ico {
  width: 30px;
  fill: #4E4E4E;
}
.busca__input {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1em;
}

/*# sourceMappingURL=style.css.map */
