// Inicio classe padrao
    
@use 'variables'

body
    position: relative
    display: grid

.container
    max-width: 1280px
    margin: 0 auto
    padding: 20px

.logo
    max-width: 200px

.btn
    display: block
    text-decoration: none
    padding: 20px 30px
    text-transform: uppercase

.tituloHr
    font-size: 4.5em
    font-weight: 700
    color: variables.$primeira-cor

// Fim classe padrao