@use 'variables'

body
    position: relative
    display: grid
    // gap: 20px

.container
    // background-color: green
    max-width: 1280px
    margin: 0 auto
    padding: 20px

.logo
    max-width: 200px

.btn
    display: block
    text-decoration: none
    padding: 20px 30px
    text-transform: uppercase


