@use 'variables'

.estatisticas
    width: 100%
    background-color: variables.$primeira-cor
    margin-top: variables.$gap-section
    &__container
        padding: 50px 20px
        color: variables.$terceira-cor
        text-align: center
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        gap: 20px
    p:nth-child(1)
        font-size: 3em
    p:nth-child(2)
        font-size: 1.2em