@use 'variables'

.header
    top: 0
    z-index: 9999
    position: absolute
    width: 100%
    &__container
        background-color: variables.$primeira-cor
        max-width: 1980px
        margin: 0 auto
        display: flex
        gap: 10px
        flex-wrap: wrap
        padding: 10px 60px
        justify-content: space-between
        align-items: center
        &-home
            background-color: transparent
    .logo
        height: 100px
        width: 100px
        display: flex
        &__img
            width: 100%
            height: 100%
            object-fit: contain
    &__mobile
        display: none
    &__label
        font-size: 20px
        color: #fff
        cursor: pointer
        display: none

        
    .menu
        list-style: none
        li
            background-color: #fff
            position: relative
            float: left
            &:hover > ul
                display: initial
            &:last-child
                background-color: variables.$segunda-cor
                a
                    color: variables.$terceira-cor
                    
            ul
                list-style: none
                position: absolute
                right: 0
                width: 200px
                background-color: #fff
                display: none
                li
                    width: 100%
                    border-top: 1px solid rgba(0, 0, 0, .1)
                    &:last-child
                        background-color: #fff
                        a
                            color: variables.$cor-texto
                            &:hover
                                background-color: #333
                                color: #fff
                    ul
                        right: 200px
                        top: 0        
            a
                font-size: 1em
                padding: 20px 30px
                color: variables.$cor-texto
                display: block
                text-decoration: none
                &:hover
                    background-color: #333
                    color: #fff

