@use 'variables'

.header__container
  max-width: 1220px
  z-index: 9999
  // background-color: tomato
  position: absolute
  left: 0
  right: 0
  margin: 20px auto

.header__content
  box-sizing: border-box
  // height: 70px
  padding: 0  0 0 60px
  display: grid
  // justify-content: space-between
  grid-template-columns: 1fr 2fr
  align-items: center
  // background: #e7e7e7
  // background: #fff
  // width: 100%

.header__content a
  color: black
  text-decoration: none
  font-family: sans-serif

.header__content a:hover
  background: rgba(0, 0, 0, 0.05)

.header__logo img
  max-width: 200px
  // font-size: 2rem
  // font-weight: bold


.header__menu
  display: flex
  list-style: none
  gap: 0.5rem

.header__menu a
  display: block
  padding: 1em 2rem
  font-size: 1em
  font-weight: bold
  color: variables.$cor-texto

.header__menu li  
  height: 60px
  display: flex
  align-items: center
.header__menu li:last-child
  background-color: variables.$segunda-cor
.header__menu li:last-child a
  color: variables.$terceira-cor

#btn-mobile
  display: none

#nav
  background: #fff
  display: flex
  justify-content: flex-end
  align-items: center

@media (max-width: 600px)
  .header__menu
    display: block
    position: absolute
    width: 100%
    top: 70px
    right: 0px
    background: #e7e7e7
    transition: 0.6s
    z-index: 1000
    height: 0px
    visibility: hidden
    overflow-y: hidden

  #nav.active .header__menu
    height: calc(100vh - 70px)
    visibility: visible
    overflow-y: auto

  .header__menu a
    padding: 1rem 0
    margin: 0 1rem
    border-bottom: 2px solid rgba(0, 0, 0, 0.05)

  #btn-mobile
    display: flex
    padding: 0.5rem 1rem
    font-size: 1rem
    border: none
    background: none
    cursor: pointer
    gap: 0.5rem

  .header__hamburger
    border-top: 2px solid
    width: 20px

  .header__hamburger::after,
  .header__hamburger::before
    content: ''
    display: block
    width: 20px
    height: 2px
    background: currentColor
    margin-top: 5px
    transition: 0.3s
    position: relative

  #nav.active .header__hamburger
    border-top-color: transparent

  #nav.active .header__hamburger::before
    transform: rotate(135deg)

  #nav.active .header__hamburger::after
    transform: rotate(-135deg)
    top: -7px
