@use 'variables'

body
    // background-color: black
.header
    // background-color: black
    z-index: 9999999
    position: absolute
    left: 0
    right: 0
    top: 20px
    &__container
        max-width: 1220px
        // background-color: tomato
        margin: 0 auto
        display: flex
        justify-content: space-between
        align-items: center
        // padding: 0 20px


#nav
    background-color: #fff

.dropdown
    display: flex
    list-style: none
    // background-color: violet
    height: 100%

    
    &__item
        // background-color: blue
        // margin: 0 10px
        position: relative
        display: flex
        align-content: center
        justify-content: center
        &:hover .dropdown__submenu
            transform: translateX(-50%) rotateX(0)
        &:last-child
            background-color: #BE1016
        &:last-child .dropdown__link
            color: #fff
        
            
    &__link
        color: #4E4E4E
        text-decoration: none
        font-size: 22px
        // transform: translateY(50%)
        padding: 15px 20px
        // background-color: blue
        display: flex
        justify-content: center
        align-items: center
        transition: all .3s
        &:hover
            // background-color: red
            color: #BE1016
        // &:last-child
        //     color: #fff

    &__submenu
        position: absolute
        background-color: #363756
        // border-radius: 5px
        list-style: none
        padding: 15px
        left: 50%
        top: 65px
        transform: translateX(-50%) rotateX(-90deg)
        transform-origin: top center
        transition: all .3s 225ms ease-in
        width: 200px
        &::after
            border: 8px solid transparent
            border-bottom-color: #363756
            content: ""
            left: 50%
            position: absolute
            top: -15px
            // transform: translateX(-50%)
        &-item
            &:not(:last-child)
                margin-bottom: 10px                
        &-link
            color: #fff
            text-decoration: none
            display: block
            padding: 10px
            &:hover
                background-color: #252646
                padding: 10px


// Menu mobile

#btn-mobile 
  display: none
  



  
