@use 'variables'

@media (max-width: 1280px)
    .header
        &__container
            padding: 20px 10px
        .logo
            height: 30px
            width: 30px
    .destaque
        &__slide
            &-textos
                margin: 0 0 60px 10px
    .pgAtividades
        margin-top: 90px
    
    .pgConvenios
        margin:  90px auto
        &__banner
            height: 350px

@media (max-width: 768px)
    .header
        &__container
            background-color: variables.$primeira-cor
        &__label
            display: initial
            font-size: 1.8em
        .nav
            position: absolute
            top: 100%
            left: 0
            right: 0
            background-color: #fff
            display: none
            .menu
                li
                    width: 100%                            
                    ul
                        position: relative
                        width: 100%
                        li
                            background-color: #eee
                            ul
                                width: 100%
                                left: 0
        &__mobile:checked ~ .nav
            display: initial         

    .destaque
        &__slide
            grid-template-rows: 550px
            &-textos
                margin: 0
                padding: 0
                gap: 15px
            &-subtitulo
                font-size: 4em
            &::before
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
                width: 100%
                background: rgba(0, 0, 0, 0.62)
            &-textos
                align-items: center
                justify-content: center
                text-align: center

    .noticias
        &__slide
            grid-template-areas: "item1" "item2" "item3""item4""item5""item6"
            gap: 40px
        &__item
            &:not(:first-child) 
                grid-template-columns: repeat(2, 1fr)
                grid-template-rows: 220px
    
    .pgHistoria
        &__header
            margin-bottom: 50px
            font-size: 1.3em
        &__item
            grid-template-columns: 1fr
            margin-bottom: 100px
            // border: 1px solid black
            
            &:nth-child(even) 
                & > div:nth-child(1)    
                    // order: -1
                    & > div:nth-child(1)
                        order: -1
            &-col
                grid-template-columns: 1fr
                gap: 5px

    .pgExecutiva
        margin-top: 100px
        &__presidente
            text-align: center
            grid-template-columns: 1fr
            // background-color: tomato
            justify-items: center
    
    .pgblog
        margin-top: 100px

    .estatisticas
        margin-top: 50px

    .chamada
        margin-top: 50px
        &__texto
            font-size: 1.2em

    .associar
        margin-top: 50px

    .pgAtividades
        margin-top: 70px
        &__banner
            height: 300px
            &-titulo
                font-size: 2em
        &__descricao
            margin: 150px auto
            &-col:nth-child(1)
                grid-template-columns: repeat(2, 150px)
            &-img
                height: 300px
    
    .pgConvenios
        margin:  70px auto
        .sobre
            &__col:nth-child(1)
                text-align: center
        .portabilidade
            &__col:nth-child(1)
                text-align: center
            &__col:nth-child(2)
                order: -1
        .carencia
            &__col:nth-child(1)
                text-align: center



@media (max-width: 540px)

    .linha
        display: none

    .chamada
        &__col
            display: flex
            align-items: center
            text-align: center
    .atividades
        margin-top: 100px
    .rodape
        &__row:nth-child(1)
            grid-template-columns: repeat(2, 1fr)
            text-align: center

    .pgblog
        &__materia
            &-link
                grid-template-columns: 1fr
    
    .pgPousada
        &__descricao
            &-texto
                font-size: 1.1em
                text-align: center
                line-height: 1.2



